html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin:0;
  padding:0;
  border:0;
  font-weight:inherit;
  font-style:inherit;
  font-size:100%;
  font-family:inherit;
  vertical-align:baseline;
}
body {
  line-height:1.5;
  font-size:75%;
  color:#222;
  background:#eee;
  font-family:verdana, helvetica, arial, sans-serif;
}
table {
  border-collapse:separate;
  border-spacing:0;
}
caption, th, td {
  text-align:left;
  font-weight:normal;
}
table, td, th {
  vertical-align:middle;
}
a img {
  border:none;
}
blockquote {
  padding:5px;
  margin:5px 5px 5px 20px;
  background:#eee;
}

div.item {
  margin:10px;
}

div.odd div.avatar {
  float:left;
  padding:5px 30px 5px 0;
  background-image:url('/images/tail-left.gif');
  background-repeat:no-repeat;
  background-position:top right; 
  position:relative;
  left:1px;
}
div.even div.avatar {
  float:right;
  padding:5px 0 5px 30px;
  background-image:url('/images/tail-right.gif');
  background-repeat:no-repeat;
  background-position:top left; 
  position:relative;
  left:-1px;
}
  div.avatar img {
    width:80px;
    height:80px;
    border:1px solid #00a;
  }

div.post {
  border:1px solid #00a;
  min-height:90px;
  background:#fff;
}
  div.odd div.post {
    margin-left:112px;
  }
  div.even div.post {
    margin-right:112px;
  }
  div.post h1 {
    font-size:1.2em;
    font-weight:bold;
    color:#00a;
    background:#eef;
    padding: 2px 5px;
  }
  div.post h2 {
    font-size:0.75em;
    font-weight:normal;
    color:#fff;
    background:#88f;
    padding: 2px 5px;
  }
  div.post div.content {
    margin:5px;
  }
