/* Basics stolen from Blueprint CSS */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin:0;
  padding:0;
  border:0;
  font-weight:inherit;
  font-style:inherit;
  font-size:100%;
  font-family:inherit;
  vertical-align:baseline;
}
body {
  line-height:1.5;
  font-size:75%;
  color:#222;
  background:#eee url('/images/background.png') repeat-y left;
  font-family:verdana, helvetica, arial, sans-serif;
}
table {
  border-collapse:separate;
  border-spacing:0;
}
caption, th, td {
  text-align:left;
  font-weight:normal;
}
table, td, th {
  vertical-align:middle;
}
a img {
  border:none;
}

/* Site-specific below here */

fieldset {
  border:1px dotted #888;
  margin:9px;
  padding:9px;
}

div#header {
  background-color:#ccc;
  margin:0;
  padding:0;
  height:74px;
  border-bottom:5px solid #888;
}
  div#header img#logo {
    margin-top:12px;
    float:left;
  }

div#blogs {
  width:100px;
  position:absolute;
  top:79px;
  left:0px;
  padding:5px;
  padding-bottom:5000px;
  margin-bottom:-5000px;
}
  div#blogs li {
    list-style-type:none;
  }

div#main {
  position:absolute;
  top:79px;
  left:116px;
  margin:0;
  padding:0;
}

div#notice {
  margin:9px;
  padding:9px;
  border:1px solid #ff0;
  background-color: #ff8;
}

div.errorExplanation {
  margin:9px;
  padding:9px;
  border:1px solid #c00;
  background-color: #fee;
  color:#c00;
}
  div.errorExplanation h2 {
    font-weight:bold;
  }
  div.errorExplanation ul {
    margin-left:18px;
  }

div#menu, div#feeds {
  height:38px;
  background-repeat:no-repeat;
  background-position:left;
  float:right;
  margin:18px 20px 0 0;
  padding:0;
}
div#menu {
  background-image:url('/images/lozenge-left.gif');
}
div#feeds {
  background-image:url('/images/lozenge-left-feeds.gif');
  padding-left:45px;
}
  div#menu ul, div#feeds ul {
    display:block;
    height:38px;
    margin:0;
    padding:0 5px;
    background-image:url('/images/lozenge-right.gif');
    background-repeat:no-repeat;
    background-position:right;
  }
  div#menu li, div#feeds li {
    float:left;
    list-style-type:none;
    margin:0;
    padding:5px;
  }
  div#menu a, div#feeds a {
    display:block;
    text-decoration:none;
    padding:5px;
    margin:0;
    color:#444;
  }
  div#menu a:hover, div#feeds a:hover {
    color:#00a;
    text-decoration:underline;
  }

div.item {
  margin:10px;
}

div.avatar {
  padding:0;
  background-repeat:no-repeat;
  position:relative;
}
  div.odd div.avatar {
    float:left;
    padding-right:30px;
    background-image:url('/images/tail-left.gif');
    background-position:top right; 
    left:1px;
  }
  div.even div.avatar {
    float:right;
    padding-left:30px;
    background-image:url('/images/tail-right.gif');
    background-position:top left; 
    left:-1px;
  }
  div.avatar img {
    width:80px;
    height:80px;
    border-color:#bbb;
    border-style:solid;
    border-width:1px 2px 2px 1px;
  }

div.post {
  min-height:80px;
  background-color:#fff;
  border:1px solid #00a;
}
  div.odd div.post {
    margin-left:113px;
  }
  div.even div.post {
    margin-right:113px;
  }
  div.post h1 {
    font-size:1.2em;
    font-weight:bold;
    padding:2px 5px;
    color:#00a;
    background-color:#eef;
  }
  div.post h2 {
    font-size:0.75em;
    font-weight:normal;
    color:#fff;
    padding:2px 5px;
    background-color:#88f;
  }
  div.post div.content {
    margin:5px;
  }
    div.post p {
      margin-top:0.5em;
    }

/* Styles used within posts */

blockquote {
  padding:5px;
  margin:5px 5px 5px 20px;
  background-color:#eee;
}
